@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в MyFamilyTreeNet</h1>
    <p>Платформа за съхраняване и споделяне на семейни истории.</p>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <h3>Създайте семейното си дърво</h3>
            <p>Изградете и поддържайте семейното си дърво с нашите лесни за използване инструменти.</p>
        </div>
        <div class="col-md-4">
            <h3>Споделяйте истории</h3>
            <p>Документирайте и споделяйте семейни истории за бъдещите поколения.</p>
        </div>
        <div class="col-md-4">
            <h3>Свържете се със семейството</h3>
            <p>Открийте роднини и се свържете с членовете на семейството.</p>
        </div>
    </div>
    
    <div class="mt-5">
        <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg">Започнете</a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary btn-lg">Вход</a>
    </div>
</div>